<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Niko Home Control</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(document).ready(function() {
          $('.action-run').on('click', function (event) {
            var $this = $(this);
            var payload = {};
            payload.action = $this.data('action');
            payload.value = $this.data('value1');

            $.post('./api/actions', payload)
              .done(function(result) {
                if (payload.value === 100) {
                    $this
                        .data('value1', 0)
                        .removeClass('btn-default')
                        .addClass('btn-warning');
                } else {
                    $this
                        .data('value1', 100)
                        .removeClass('btn-warning')
                        .addClass('btn-default');
                }
              })
              .fail(function(error) {
                console.error(error);
                $this
                    .removeClass('btn-default')
                    .removeClass('btn-warning')
                    .addClass('btn-danger');
              });
          });
        });
    </script>
  </head>
  <body>
    <div class="container">
